.app {
    border: solid green 5px;
  }
  .new-item {
    border: solid red 4px;
  }
  .todo-list {
    border: solid blue 4px;
  }
  .todo-item {
    border: solid black 3px;
  }
  
  /* don't forget to do line through */
  .button {
    color: rgb(15, 15, 15) ;
    background-color: rgb(228, 247, 228);
  }

  .delete {
    color: rgb(250, 243, 243) ;
    background-color: rgb(230, 11, 11);
    border-radius: 20cm;
    float: right;
    }